# Adresse IP ou FQDN de l'hôte Proxmox et le port
PVE_HOST=https://a.b.c.d:8006

# Format : user@realm!token-name
PVE_TOKEN_ID=user@realm!token-name

# Secret du token API Proxmox
PVE_TOKEN_SECRET=xxxxxxxxxxxxxxxxxxx

# Mettre à "false" pour accepter les certificats auto-signés (lab)
PVE_VERIFY_SSL=false

# Port d'écoute du serveur (défaut : 3000)
PORT=3000